<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sp.appinfo.dao.DevUserDao">
 
	<resultMap type="DevUser" id="BaseResultMap">
		<id property="id" column="id"/>
		<result property="devCode" column="devCode"/>
		<result property="devName" column="devName"/>
		<result property="devPassword" column="devPassword"/>
		<result property="devEmail" column="devEmail"/>
		<result property="devInfo" column="devInfo"/>
		<result property="createdBy" column="createdBy"/>
		<result property="creationDate" column="creationDate"/>
		<result property="modifyBy" column="modifyBy"/>
		<result property="modifyDate" column="modifyDate"/>
	</resultMap>
    <select id="Select_DevUser" resultMap="BaseResultMap">
    select * from dev_user where devCode=#{devCode} and devPassword=#{devPassword}
    </select>
</mapper>